extends ../../templates/layout

block content
    form(method="post")
        input(type="text", name="code", placeholder=__('route.activate.code:Aktivierungscode'))
        button(type="submit")= __('global.activate:Aktivieren!')