.btn {
    $color: map-get($colors, default);

    padding: .5rem 1rem;
    border: 1px solid $color;
    border-radius: 2px;
    background: lighten($color, 10%);
    cursor: pointer;

    @include contrastText(lighten($color, 10%));

    &:focus {
        @include global-focus;
    }

    &:active {
        $color: darken($color, 5%);

        border-color: $color;
        background: lighten($color, 10%);

        @include contrastText(lighten($color, 10%));
    }

    &--group & {
        border-radius: 0;
        border-right-width: 0;

        &:nth-of-type(1) {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:nth-last-of-type(1) {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-right-width: 1px;
        }
    }

    &__primary {
        @extend .btn;
        $color: map-get($colors, primary);

        border-color: $color;
        background: lighten($color, 10%);

        @include contrastText(lighten($color, 10%));

        &:active {
            $color: darken($color, 5%);

            border-color: $color;
            background: lighten($color, 10%);

            @include contrastText(lighten($color, 10%));
        }
    }

    &--group {
        input[type="checkbox"],
        input[type="radio"] {
            visibility: hidden;
            position: absolute;

            + label {
                
            }

            &:checked + label.btn {
                @extend .btn:active;
            }
        }
    }
}