.form {
    &--field {
        padding: .5rem 0;

        label {
            display: block;

            &::after {
                content: ":";
            }
        }

        input + label {
            display: inline-block;

            &::after {
                content: none
            }
        }
    }

    &--image {
        max-width: 100%;
    }
    
    &--element {
        width: 100%;
        
        @include global-focus;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="date"], 
input[type="number"],
select {
    &.form--element {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 5px;
    }
}