@mixin gridColumns($num) {
    &__#{$num} {
        grid-template-columns: repeat(#{$num}, 1fr);
    }
}

@mixin gridFlowColumns($num) {
    &__flowcolumn-#{$num} {
        @extend .grid__flowcolumn;
        grid-template-rows: repeat($num, 1fr);
    }
}

.grid {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem 0;
    justify-items: stretch;
    width: 100%;

    @for $n from 1 through 12 {
        @include gridColumns($n);
        @include gridFlowColumns($n);

        &--rowspan__#{$n} {
            grid-row-end: span #{$n};
        }
    }

    &__flowcolumn {
        grid-auto-flow: column; 
    }

    &--full,
    &--half {
        grid-column-start: 1;
    }
}
