.img {
    max-width: 100%;

    &__small {
        @extend .img;

        width: 50px;
    }

    &__medium {
        @extend .img;

        width: 200px; 
    }

    &__large {
        @extend .img;

        width: 400px; 
    }
}