nav {
    overflow: hidden;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &--item {
        border-left: 1px solid #333;
        float: left;
        padding: 0 5px;

        &:first-child {
            border: 0;
            padding-left: 0;
        }
    }
}