$colors: (
    default: #ccc,
    primary: #3060ff
);

html {

}

html, 
body {
    font-size: 1rem;
    color: #333;
}

@mixin global-focus {
    outline: 0;
    box-shadow: 0 0 5px rgba(50, 50, 255, 0.5);
}

@mixin contrastText($color) {
    @if (lightness($color) > 70) {
        color: #000; // Lighter backgorund, return dark color
    } @else {
        color: #fff; // Darker background, return light color
    }
}

a {
    color: map-get($colors, primary);
    text-decoration: none;

    &:hover {
        color: darken(map-get($colors, primary), 5%);
        text-decoration: underline;
    }
}

.msg {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    
    &.msg-error {
        border-color: red;
        background: rgba(red, 0.2);
    }

    &.msg-success {
        border-color: green;
        background: rgba(green, 0.2);
    }
} 

.input-invalid {
    border: 1px solid red;
    background: rgba(red, 0.2);
}

.pull {
    &-right {
        float: right;
    }
    
    &-left {
        float: left;
    }
}

.form {
    &--field {
        padding: .5rem 0;

        label {
            display: block;

            &::after {
                content: ":";
            }
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="search"],
        input[type="date"], 
        input[type="number"], {
            border: 1px solid #ccc;
            border-radius: 2px;
            padding: 5px;

            &:focus {
                @include global-focus;
            }
        }

        input + label {
            display: inline-block;

            &::after {
                content: none
            }
        }
    }
}

.btn {
    $color: map-get($colors, default);

    padding: .5rem 1rem;
    border: 1px solid $color;
    border-radius: 2px;
    background: lighten($color, 10%);
    cursor: pointer;

    @include contrastText(lighten($color, 10%));

    &:focus {
        @include global-focus;
    }

    &:active {
        $color: darken($color, 5%);

        border-color: $color;
        background: lighten($color, 10%);

        @include contrastText(lighten($color, 10%));
    }

    &__primary {
        @extend .btn;
        $color: map-get($colors, primary);

        border-color: $color;
        background: lighten($color, 10%);

        @include contrastText(lighten($color, 10%));

        &:active {
            $color: darken($color, 5%);

            border-color: $color;
            background: lighten($color, 10%);

            @include contrastText(lighten($color, 10%));
        }
    }
}

nav {
    overflow: hidden;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &--item {
        border-left: 1px solid #333;
        float: left;
        padding: 0 5px;

        &:first-child {
            border: 0;
            padding-left: 0;
        }
    }
}