.v-login {
    width: 30vw;
    min-width: 300px;
    margin: 0 auto;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
    border-radius: .75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.v-settings {
    &--form {

    }
}
.v-userlist {
    .table {
        .img {
            width: 100px;
        }
    }
}