extends ../templates/layout.pug

block content
    h2 Login

    form(action="/login", method="post")
        input(type="email", name="email", placeholder="E-Mail")
        input(type="password", name="pass", placeholder="Passwort")
        button(type="submit") Login!