html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212529;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #3060ff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #0035e3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

main {
  width: 90vw;
  margin: 0 auto; }

.msg {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px; }
  .msg.msg-error {
    border-color: red;
    background: rgba(255, 0, 0, 0.2); }
  .msg.msg-success {
    border-color: green;
    background: rgba(0, 128, 0, 0.2); }

.input-invalid {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.2); }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem 0;
  justify-items: stretch;
  width: 100%; }
  .grid__1 {
    grid-template-columns: repeat(1, 1fr); }
  .grid__flowcolumn-1 {
    grid-template-rows: repeat(1, 1fr); }
  .grid--rowspan__1 {
    grid-row-end: span 1; }
  .grid__2 {
    grid-template-columns: repeat(2, 1fr); }
  .grid__flowcolumn-2 {
    grid-template-rows: repeat(2, 1fr); }
  .grid--rowspan__2 {
    grid-row-end: span 2; }
  .grid__3 {
    grid-template-columns: repeat(3, 1fr); }
  .grid__flowcolumn-3 {
    grid-template-rows: repeat(3, 1fr); }
  .grid--rowspan__3 {
    grid-row-end: span 3; }
  .grid__4 {
    grid-template-columns: repeat(4, 1fr); }
  .grid__flowcolumn-4 {
    grid-template-rows: repeat(4, 1fr); }
  .grid--rowspan__4 {
    grid-row-end: span 4; }
  .grid__5 {
    grid-template-columns: repeat(5, 1fr); }
  .grid__flowcolumn-5 {
    grid-template-rows: repeat(5, 1fr); }
  .grid--rowspan__5 {
    grid-row-end: span 5; }
  .grid__6 {
    grid-template-columns: repeat(6, 1fr); }
  .grid__flowcolumn-6 {
    grid-template-rows: repeat(6, 1fr); }
  .grid--rowspan__6 {
    grid-row-end: span 6; }
  .grid__7 {
    grid-template-columns: repeat(7, 1fr); }
  .grid__flowcolumn-7 {
    grid-template-rows: repeat(7, 1fr); }
  .grid--rowspan__7 {
    grid-row-end: span 7; }
  .grid__8 {
    grid-template-columns: repeat(8, 1fr); }
  .grid__flowcolumn-8 {
    grid-template-rows: repeat(8, 1fr); }
  .grid--rowspan__8 {
    grid-row-end: span 8; }
  .grid__9 {
    grid-template-columns: repeat(9, 1fr); }
  .grid__flowcolumn-9 {
    grid-template-rows: repeat(9, 1fr); }
  .grid--rowspan__9 {
    grid-row-end: span 9; }
  .grid__10 {
    grid-template-columns: repeat(10, 1fr); }
  .grid__flowcolumn-10 {
    grid-template-rows: repeat(10, 1fr); }
  .grid--rowspan__10 {
    grid-row-end: span 10; }
  .grid__11 {
    grid-template-columns: repeat(11, 1fr); }
  .grid__flowcolumn-11 {
    grid-template-rows: repeat(11, 1fr); }
  .grid--rowspan__11 {
    grid-row-end: span 11; }
  .grid__12 {
    grid-template-columns: repeat(12, 1fr); }
  .grid__flowcolumn-12 {
    grid-template-rows: repeat(12, 1fr); }
  .grid--rowspan__12 {
    grid-row-end: span 12; }
  .grid__flowcolumn, .grid__flowcolumn-1, .grid__flowcolumn-2, .grid__flowcolumn-3, .grid__flowcolumn-4, .grid__flowcolumn-5, .grid__flowcolumn-6, .grid__flowcolumn-7, .grid__flowcolumn-8, .grid__flowcolumn-9, .grid__flowcolumn-10, .grid__flowcolumn-11, .grid__flowcolumn-12 {
    grid-auto-flow: column; }
  .grid--full, .grid--half {
    grid-column-start: 1; }

.flex, .flex-grid, .flex-grid__1, .flex-grid__2, .flex-grid__3, .flex-grid__4, .flex-grid__5, .flex-grid__6, .flex-grid__7, .flex-grid__8, .flex-grid__9, .flex-grid__10, .flex-grid__11, .flex-grid__12 {
  display: flex; }
  .flex--item {
    flex: 1 1 auto; }
  .flex-grid, .flex-grid__1, .flex-grid__2, .flex-grid__3, .flex-grid__4, .flex-grid__5, .flex-grid__6, .flex-grid__7, .flex-grid__8, .flex-grid__9, .flex-grid__10, .flex-grid__11, .flex-grid__12 {
    margin: 0 -.5rem; }
    .flex-grid .flex--item, .flex-grid__1 .flex--item, .flex-grid__2 .flex--item, .flex-grid__3 .flex--item, .flex-grid__4 .flex--item, .flex-grid__5 .flex--item, .flex-grid__6 .flex--item, .flex-grid__7 .flex--item, .flex-grid__8 .flex--item, .flex-grid__9 .flex--item, .flex-grid__10 .flex--item, .flex-grid__11 .flex--item, .flex-grid__12 .flex--item {
      padding: .5rem; }
    .flex-grid__1 .flex--item {
      flex-basis: 100%; }
    .flex-grid__2 .flex--item {
      flex-basis: 50%; }
    .flex-grid__3 .flex--item {
      flex-basis: 33.33333%; }
    .flex-grid__4 .flex--item {
      flex-basis: 25%; }
    .flex-grid__5 .flex--item {
      flex-basis: 20%; }
    .flex-grid__6 .flex--item {
      flex-basis: 16.66667%; }
    .flex-grid__7 .flex--item {
      flex-basis: 14.28571%; }
    .flex-grid__8 .flex--item {
      flex-basis: 12.5%; }
    .flex-grid__9 .flex--item {
      flex-basis: 11.11111%; }
    .flex-grid__10 .flex--item {
      flex-basis: 10%; }
    .flex-grid__11 .flex--item {
      flex-basis: 9.09091%; }
    .flex-grid__12 .flex--item {
      flex-basis: 8.33333%; }

.form--field {
  padding: .5rem 0; }
  .form--field label {
    display: block; }
    .form--field label::after {
      content: ":"; }
  .form--field input + label {
    display: inline-block; }
    .form--field input + label::after {
      content: none; }

.form--image {
  max-width: 100%; }

.form--element {
  width: 100%;
  transition: box-shadow .5s;
  box-shadow: 0 0 0 transparent; }
  .form--element:focus {
    outline: 0;
    box-shadow: 0 0 5px #3060ff; }

input[type="text"].form--element,
input[type="password"].form--element,
input[type="email"].form--element,
input[type="search"].form--element,
input[type="date"].form--element,
input[type="number"].form--element,
select.form--element {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px; }

.btn, .btn__block, .btn__primary {
  padding: .5rem 1rem;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #eee;
  cursor: pointer;
  text-align: center;
  color: #000; }
  .btn:focus, .btn__block:focus, .btn__primary:focus {
    transition: box-shadow .5s;
    box-shadow: 0 0 0 transparent; }
    .btn:focus:focus, .btn__block:focus:focus, .btn__primary:focus:focus {
      outline: 0;
      box-shadow: 0 0 5px #3060ff; }
  .btn__block {
    display: block;
    width: 100%; }
  .btn:active, .btn__block:active, .btn__primary:active, .btn--group input[type="checkbox"]:checked + label.btn, .btn--group__block input[type="checkbox"]:checked + label.btn, .btn--group input[type="checkbox"]:checked + label.btn__block, .btn--group__block input[type="checkbox"]:checked + label.btn__block, .btn--group input[type="checkbox"]:checked + label.btn__primary, .btn--group__block input[type="checkbox"]:checked + label.btn__primary,
  .btn--group input[type="radio"]:checked + label.btn, .btn--group__block input[type="radio"]:checked + label.btn,
  .btn--group input[type="radio"]:checked + label.btn__block, .btn--group__block input[type="radio"]:checked + label.btn__block,
  .btn--group input[type="radio"]:checked + label.btn__primary, .btn--group__block input[type="radio"]:checked + label.btn__primary {
    border-color: #959595;
    background: #c8c8c8;
    color: #000; }
  .btn--group .btn, .btn--group__block .btn, .btn--group .btn__block, .btn--group__block .btn__block, .btn--group .btn__primary, .btn--group__block .btn__primary {
    border-radius: 0;
    border-right-width: 0; }
    .btn--group .btn:nth-of-type(1), .btn--group__block .btn:nth-of-type(1), .btn--group .btn__block:nth-of-type(1), .btn--group__block .btn__block:nth-of-type(1), .btn--group .btn__primary:nth-of-type(1), .btn--group__block .btn__primary:nth-of-type(1) {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .btn--group .btn:nth-last-of-type(1), .btn--group__block .btn:nth-last-of-type(1), .btn--group .btn__block:nth-last-of-type(1), .btn--group__block .btn__block:nth-last-of-type(1), .btn--group .btn__primary:nth-last-of-type(1), .btn--group__block .btn__primary:nth-last-of-type(1) {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right-width: 1px; }
  .btn__primary {
    border-color: #002fc9;
    background: #3060ff;
    color: #fff; }
    .btn__primary:active {
      border-color: #0029b0;
      background: #174cff;
      color: #fff; }
  .btn--group input[type="checkbox"], .btn--group__block input[type="checkbox"],
  .btn--group input[type="radio"], .btn--group__block input[type="radio"] {
    visibility: hidden;
    position: absolute; }
  .btn--group__block {
    display: flex; }
    .btn--group__block label {
      flex: 1 1 auto; }

.table td, .table__striped td,
.table th, .table__striped th {
  padding: 10px; }
  .table td:first-child, .table__striped td:first-child,
  .table th:first-child, .table__striped th:first-child {
    padding-left: 0; }
  .table td:last-child, .table__striped td:last-child,
  .table th:last-child, .table__striped th:last-child {
    padding-right: 0; }

.table__striped tr {
  border-bottom: 1px solid #eee; }
  .table__striped tr:last-child {
    border: 0; }

.table__striped thead {
  border-bottom: 1px solid #d5d5d5; }

nav {
  overflow: hidden; }

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .nav--item {
    border-left: 1px solid #333;
    float: left;
    padding: 0 5px; }
    .nav--item:first-child {
      border: 0;
      padding-left: 0; }

.img, .img__small, .img__medium, .img__large {
  max-width: 100%; }
  .img__small {
    width: 50px; }
  .img__medium {
    width: 200px; }
  .img__large {
    width: 400px; }

.v-login {
  width: 30vw;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem 2rem;
  border: 1px solid #ddd;
  border-radius: .75rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.v-userlist .table .img, .v-userlist .table__striped .img, .v-userlist .table .img__small, .v-userlist .table__striped .img__small, .v-userlist .table .img__medium, .v-userlist .table__striped .img__medium, .v-userlist .table .img__large, .v-userlist .table__striped .img__large {
  width: 100px; }
