doctype html
html 
    head
        title node-login
        link(href="css/style.css", rel="stylesheet" type="text/css")

    body
        h1 login-frame
        
        nav 
            a(href="/") Home
            a(href="/restricted") Restricted
            if !isLoggedin
                a(href="/login") Login
                a(href="/register") Register
            else
                a(href="/settings") Settings
                a(href="/logout") Logout
                
            .pull-right
                if !isLoggedin
                    span Nicht eingeloggt
                else
                    span Hallo #{user.username}
            
        if messages.error.length > 0
            - hasErrors = true
            .msg.msg-error
                strong Error
                ul
                    each err in messages.error
                        li!= err.message

        block content