doctype html
html 
    head
        title= headline + ' - ' + app.name
        link(href="/css/style.css", rel="stylesheet" type="text/css")

    body
        main
            h1= app.name
            
            include navigation
                        
            h2= headline

            include messages

            block content