doctype html
html 
    head
        title node-login
        link(href="/css/style.css", rel="stylesheet" type="text/css")

    body
        h1 login-frame
        
        nav 
            a(href="/") Home
            a(href="/restricted") Restricted
            if !isLoggedin
                a(href="/login") Login
                a(href="/register") Register
            else
                a(href="/user") Users
                a(href="/settings") Settings
                
                if user.hasRight('admin.panel')
                    a(href="/admin") Admin

                a(href="/logout") Logout
                
            .pull-right
                if !isLoggedin
                    span Nicht eingeloggt
                else
                    span Hallo #{user.username}
            
        if messages.error.length > 0
            - hasErrors = true
            .msg.msg-error
                strong Error
                ul
                    each msg in messages.error
                        li!= msg.message

        if messages.success.length > 0
            .msg.msg-success
                strong Erfolg
                ul
                    each msg in messages.success
                        li!= msg.message

        block content